
@media (max-width: 768px) {
    div.card-product {
        width: 9rem !important;
    }
}
@media (min-width: 768px) {
    div.card-product {
        width: 14rem !important;
    }
}
@media (max-width: 576px) {
    div.card-product {
        width: 9rem !important;
    }
}

.bg-nowhite{
background-color: #8a8a8a;
}